<!DOCTYPE html>
<body>
	<h1 style="text-align:center;font-size:60px;color:black;font-family:lobster,cursive;"><b>DARKneuron</b>
	<br><font color="red" size="6">Let's Build Intelligence</font>
    </h1>
	<div id="paint">
		<!--u need internet for line 7 and 8-->
		<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
	  	<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.2.0/dist/tf.min.js"></script>
	  	<script src="{{url_for('static',filename='my_file.js')}}"></script>
        <!-- <p style="text-align: center;font-size:30px;color:red"><b>The digit is {{digit}}</b></p> -->
 	</div>
</body>
</html>