<!DOCTYPE html>
<body>
	<h1 style=" text-align:center;
                font-size:60px;color:black;
                border-radius:20px;
                margin:auto;
                margin-bottom:30px;
                width:500px;
                box-shadow:0 0 15px rgba(255, 0, 0, 1.0);
                transition: box-shadow 0.4s ease-in-out;
                display:inline-flexbox;
                font-family:lobster,cursive;"><b>DARKneuron</b>
	<br><font color="red" size="6">Let's Build Intelligence</font>
    </h1>
	<div id="products">
		<!--u need internet for line 7 and 8-->
		<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
	  	<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
        <script src="{{url_for('static',filename='product_menu.js')}}"></script>
 	</div>
</body>
</html>